/* Color Theme Swatches in Hex */
$dark-red: #59121F;
$purple: #731943;
$dark-blue: #172573;
$light-blue: #04BFBF;
$light-red: #A6261B;

/* Color Theme Swatches in Hex */
$pink: #EF4BF2;
$light-purple: #6E3DD9;
$darker-blue: #0E1A59;
$light-blue-2: #173BA6;
$lighter-blue: #38D0F2;